
# Created by https://www.gitignore.io/api/git,sass,codekit,visualstudiocode

### CodeKit ###
# General CodeKit files to ignore
config.codekit
config.codekit3
/min

### CodeKit Patch ###
*/codekit-config.json
.codekit-cache

### Git ###
*.orig

### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# End of https://www.gitignore.io/api/git,sass,codekit,visualstudiocode