.feature, .client, .pricing
    text-align: center
    
    img
        max-width: 740px
    
    .button-wrap
        text-align: center

        button
            background: $primary-color
            color: white
            border-radius: 8px
            border: none
            height: 55px
            width: 200px
            text-transform: uppercase
            font-size: 16px
            box-shadow: 0 10px 50px 0 rgba(7,42,68,0.12)
            margin: 60px 0

    .features-wrap
        display: flex
        flex-wrap: wrap
        flex-direction: row
        justify-content: space-around
        text-align: center
        align-items: center
        
        .flex-item
            width: 320px

            img
                +size(150px)
                padding: 40px 0
            
            h3
                font:
                    size: 24px
                    weight: 400
                color: #171C34
                padding-bottom: 24px
            
            p
                max-width: 320px
                margin: 0 auto
.client
    // background-image: linear-gradient(0deg, rgba(255,255,255,0.00) 0%, #EBEEF0 100%)
    
    .client-item
        background: #FFFFFF;
        border-radius: 10px;
        width: 320px
        margin: 20px 10px
        padding: 80px 40px 60px

        img
            +size(170px)
            padding: 40px 0
        
        p
            max-width: 340px
            font:
                size: 20px
            color: #171C34
        
        .client-name
            font:
                size: 14px
            color: #919AA3
            padding-top: 30px

.pricing

/* The switch - the box around the slider

.switch
  position: relative
  display: inline-block
  width: 60px
  height: 26px
  margin: 80px 0 0 0
  input
    display: none
    

/* Hide default HTML checkbox

/* The slider

.slider
  position: absolute
  cursor: pointer
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: trasparent
  border: 1px solid #9A9A9A
  -webkit-transition: .4s
  transition: .4s
  &:before
    position: absolute
    content: ""
    height: 20px
    width: 20px
    left: 6px
    bottom: 2px
    background-color: $primary-color
    -webkit-transition: .4s
    transition: .4s

input
  &:checked + .slider
    background-color: transparent
  &:focus + .slider
    box-shadow: 0 0 1px $primary-color
  &:checked + .slider:before
    -webkit-transform: translateX(26px)
    -ms-transform: translateX(26px)
    transform: translateX(26px)

/* Rounded sliders

.slider.round
  border-radius: 34px
  &:before
    border-radius: 50%

.pricing-cards
    display: flex
    flex-wrap: wrap
    justify-content: center
    padding-top: 40px

    .card
        margin: 20px
        border: none
        padding-bottom: 70px

        .card-header
            font-size: 12px
            color: #586377
            border: none
            background: none
            text-transform: uppercase
            padding: 40px 0 50px 0
    
    .list-group
        padding-bottom: 50px
        
        img
            +size(10px)
            margin-right: 10px

        .list-group-item
            color: #586377
            border: none
            text-align: left
            margin-left: 20px

    .blue
        color: $primary-color
    
    .amateur
        background: #FFFFFF
        box-shadow: 0 4px 15px 0 rgba(7,42,68,0.10)
        border-radius: 10px


@media only screen and (max-width: 1132px)
    .feature

        h2
            font:
                size: 28px